<div class="post-card">
  <a href="/post/{{id}}" id="post-cards">
    <h2>{{title}}</h2>
    <p id="comment">{{comment}}</p>
    <button data-id="{{id}}" class="deleteButton" id="delete">Delete Post</button>
  </a>
</div>